site_name: TORCPhysics
docs_dir: TORCphysics/docs

theme:
  name: readthedocs
  highlightjs: true
plugins:
  - search
  - mkdocstrings:
      handlers:
        # See: https://mkdocstrings.github.io/python/usage/
        python:
          options:
            docstring_style: sphinx
markdown_extensions:
  - markdown_include.include:
      base_path: TORCphysics
  - admonition

nav:
  - Home: index.md
  - Getting Started: getting_started.md
  - API:
      - Overview: api/index.md
      - Core:
          - Circuit: api/core/circuit.md